*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: block;
    background: url('../../assets/images/footer-background.png') no-repeat center top fixed;
    background-size: cover;
    padding-top: 80px;
}

.info-container{
    color: white;
    margin-top: 10%;
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15%;
}

.info-container .info{
    margin-top: 10%;
}

.mr10 {margin-right: 10px;}
.mbot20 {margin-bottom: 20px; }

