.btnLogin-popup{
    transform: scale(1);
}
.btnLogin-popup.active{
    transform: scale(0);
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    margin-top: -0.5%;
}

.logo :hover{
    background-color: #192630;
}

.LoginHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding-left:100px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: .5s;
    
    
}

.LoginHeader:hover{
    background: #192630;
}


.navigation a{
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 20px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
background: #fff;
color: rgba(22, 41, 56, .5);
backdrop-filter: blur(20px);
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


.mr10 {margin-right: 10px;}
.mbot20 {margin-bottom: 20px; }